body {background: #eeeeee}

.post-content{
	height: 15em;
	/*border:1px solid;*/
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 30px;
	border-radius: 4px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	/*padding: 30px;*/
}
.target_word:hover {
	border-bottom-style:dashed;
	border-bottom-color: #08C;
	border-bottom-width: 1px;
}
.translate-popover {
	border-bottom-style:solid;
	border-bottom-color: #ccc;
	border-bottom-width: 1px;
	width: 200px;
	padding-bottom: 5px;	
	padding-top: 5px;
	text-align: center;
}
/* tran_item */
#demo1 { position:relative; height:350px; }
#demo-nav { position:absolute; top:5px; margin:5px; }
#demo-stage { position:relative; display:block; top:40px; background:#fff; height:300px; overflow:auto; }
#demo-stage li, #demo-stage li h3 { color:#777; }
/*#demo-stage li.active, #demo-stage li.active h3 { color:#aa0000; }*/
.main-translate {
	text-align: center;
}
.word {
	height:350px;
	overflow: auto;
}
.tran {
	color: #1d9dd9;
	pointer: cursor: pointer;
}
.tran.active {
	color: #333;
	font-weight: bold;
}
.translate-popover {
	color: black;
}
#youtube-video {
	/*text-align: center !important;*/
	/*margin-left: 50px;*/
	/*padding-left: 50px;*/
	padding-right: 50px;
	float:left;
}
#words{
	float:left;
	width:500px;
}
.left-tran {
    display: inline-block;
    /*background-color: red;*/
    width:40%;
}

.right-tran {
    display: inline-block;
    /*background-color: green;*/
    width:40%;
}

.tran {
    margin-top:10px;
}