<template name="postItem">
	<div class="row-fluid">
		<div class="post-content col-md-5">
			<div>
				<h4><a href="{{pathFor 'tranItem'}}">{{title}}</a></h4>
				<!-- <span class="editable" data-type="textarea" data-rows="2">{{title}}</span>        -->
				<!-- {{> m_editable options value="hello"}} -->
				<div class="video-meta row-fluid">
					<div class="thumbnail col-md-6">
						<img src="{{sqThumbnail}}">
					</div>
					<div class="col-md-6">
						<a href="{{pathFor 'tranItem'}}" class="btn btn-success">Help Translate</a>
						<span>{{duration}}</span>
						<span>{{author}}</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>