<template name='tranItem'>
	<div class="main-translate">
		<div class="youtube-player">
			<div style="width: 640px; height: 350px;" id='youtube-video'></div>
			<div id="words">
				<!-- <ul class="nav nav-pills" role="tablist">
					<li class="active"><a href="#">New Words</a></li>
					<li><a href="#">New Words</a></li>
				</ul> -->
				<ul class="word list-group">
					Pause to get see the meaning of word here
				</ul>
			</div>
		</div>
		<div style="clear:both"></div>
		<div id="footnotediv"></div>

		<section id="demo-stage" class="jq-clearfix">
			<ul>
                {{#each sentences}}
                    {{> sentenceItem}}
                {{/each}}
			</ul>
			<div class="jq-clearfix"></div>
		</section>
	</div>
</template>